name: Build

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      strategy:
        required: true
        type: string
    secrets:
      UNITY_EMAIL:
        required: true
      UNITY_PASSWORD:
        required: true

env:
  TAG_NAME: v0

jobs:
  build:
    name: ${{ matrix.name }}
    strategy: ${{ fromJSON(inputs.strategy) }}
    runs-on: ${{ matrix.runner }}

    env:
      # Avoid pre-installed modern platforms which crash Unity <2019
      ANDROID_SDK_ROOT: ${{ github.workspace }}/android

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6

      - uses: endersonmenezes/free-disk-space@e6ed9b02e683a3b55ed0252f1ee469ce3b39a885 # v3.1.0
        if: startsWith(matrix.runner, 'ubuntu-')
        with:
          remove_android: true
          remove_dotnet: true
          remove_haskell: true
          remove_folders: "/usr/share/swift"
          rm_cmd: rmz

      - name: Setup Linux
        if: startsWith(matrix.runner, 'ubuntu-')
        run: |
          sudo sysctl -w fs.file-max=9223372036854775807

          # TODO remove once RageAgainstThePixel/unity-setup installs it for 2022.1
          curl -LO https://archive.ubuntu.com/ubuntu/pool/main/o/openssl/libssl1.1_1.1.0g-2ubuntu4_amd64.deb
          sudo dpkg -i libssl1.1_1.1.0g-2ubuntu4_amd64.deb

      - name: Setup Android Sdk
        if: matrix.needs_android_sdk
        uses: android-actions/setup-android@9fc6c4e9069bf8d3d10b2204b1fb8f6ef7065407 # v3.2.2
        with:
          packages: 'tools platforms;android-29 build-tools;29.0.3'

      - name: Setup Java 8
        if: matrix.needs_android_sdk
        shell: bash
        run: |
          echo "JAVA_HOME=$JAVA_HOME_8_X64" >>"$GITHUB_ENV"
          echo "$JAVA_HOME_8_X64/bin" >>"$GITHUB_PATH"

      - name: Setup Android Ndk
        if: matrix.needs_android_ndk
        shell: bash
        env:
          NDK_VERSION: '${{ matrix.needs_android_ndk }}'
        run: |
          if [[ "$OSTYPE" == "linux"* ]]; then
              PLATFORM="linux-x86_64"
          elif [[ "$OSTYPE" == "darwin"* ]]; then
              PLATFORM="darwin-x86_64"
          elif [[ "$OSTYPE" == "msys" || "$OSTYPE" == "cygwin" || "$OSTYPE" == "win32" ]]; then
              PLATFORM="windows-x86_64"
          else
              echo "Unsupported operating system: $OSTYPE"
              exit 1
          fi
          curl -LO "https://dl.google.com/android/repository/android-ndk-$NDK_VERSION-$PLATFORM.zip"
          unzip android-ndk-"$NDK_VERSION"-*.zip
          ANDROID_NDK_HOME="${{ github.workspace }}/android-ndk-$NDK_VERSION"
          echo "ANDROID_NDK_HOME=$ANDROID_NDK_HOME" >>"$GITHUB_ENV"
          echo "ANDROID_NDK_ROOT=$ANDROID_NDK_HOME" >>"$GITHUB_ENV"

      - name: Setup Unity
        uses: RageAgainstThePixel/unity-setup@c09c3b3eb44c708fd942b5ac522f187bb2b2c175 # v2.3.0
        with:
          version-file: 'None'
          unity-version: ${{ matrix.unity_version }}
          modules: ${{ matrix.modules || 'None' }}
          install-path: '${{ runner.tool_cache }}/unity'

      - name: Activate Unity
        uses: RageAgainstThePixel/activate-unity-license@7e95a07b2fa896158e6a7f7f4233f6e6c273ccc8 # v2.1.0
        with:
          license: 'Personal'
          username: ${{ secrets.UNITY_EMAIL }}
          password: ${{ secrets.UNITY_PASSWORD }}

      - name: Create project
        uses: RageAgainstThePixel/unity-action@12f66296a6863de5162a28fea33efdfcbb2bad2d # v3.0.4
        with:
          args: '-batchmode -force-graphics -quit -createProject "${{ github.workspace }}"'
        timeout-minutes: 5

      - name: Build
        uses: RageAgainstThePixel/unity-action@12f66296a6863de5162a28fea33efdfcbb2bad2d # v3.0.4
        with:
          args: '-batchmode -force-graphics -quit -projectPath "${{ github.workspace }}" -executeMethod TestGame.SetupAndBuild -buildTarget ${{ matrix.build_target_name }} -scriptingBackend ${{ matrix.scripting_implementation }} ${{ matrix.extra_args }}'
        timeout-minutes: 60

      - name: Zip
        shell: bash
        run: |
          cd "./Builds/${{ matrix.build_target }}"
          7z a -tzip "../../${{ matrix.name }}.zip" *

      - name: Upload
        uses: actions/upload-artifact@v6
        with:
          retention-days: 1
          name: TestGame ${{ matrix.name }}
          path: ./Builds/${{ matrix.build_target }}/*

      - name: Update tag
        uses: actions/github-script@v8
        with:
          script: |
            const { TAG_NAME } = process.env;

            try {
              console.log(await github.rest.git.updateRef({
                ...context.repo,
                ref: 'tags/' + TAG_NAME,
                sha: context.sha,
                force: true,
              }));
            } catch (e) {
              if (e.status === 422 && e.response?.data?.message === 'Reference does not exist') return;
              throw e;
            }

      - name: Release
        if: github.ref == 'refs/heads/master'
        uses: js6pak/action-gh-release@master
        with:
          tag_name: ${{ env.TAG_NAME }}
          files: ${{ matrix.name }}.zip

      - name: Upload logs
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          retention-days: 1
          name: Logs ${{ matrix.name }}
          path: |
            ${{ github.workspace }}/**/*.log

      - name: Setup tmate session
        if: failure() && github.run_attempt != 1
        uses: mxschmitt/action-tmate@c0afd6f790e3a5564914980036ebf83216678101 # v3.23
        with:
          detached: true
